// Colors -------------

$oddNumbers-hover: rgba(0, 0, 0, 0.25);
$evenNumbers-hover: rgba(0, 0, 0, 0.1);

// End of Colors ------


body {
  font-family: 'Fjalla One', sans-serif;
  background: linear-gradient( to left top, #F5F2F0, #fff );
  min-height: 100vh;
}

td, th {
  vertical-align: middle;
  text-align: center;
}

.input-group {
  margin: 20px 0px;
}

svg {
  height: 120px;
}

td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}


tbody tr td {
  & div div {
    transition: transform 300ms ease-in-out;
  }
  &:not(:first-of-type):hover {
    & div div {
      transform: scale(1.4);
    }
  }
}

tbody tr:nth-of-type(2n) td {
  &:not(:first-of-type):hover {
    background-color: $oddNumbers-hover;
  }
}

tbody tr:nth-of-type(2n+1) td {
  &:not(:first-of-type):hover {
    background-color: $evenNumbers-hover;
  }
}
